.background {
	&-dark {
		background-color: #424245;
	}
	&-light {
		background-color: #89898b;
	}
	&-primary {
		background-color: #ffeb33;
	}
	&-white {
		background-color: #fff;
	}
	&-black {
		background-color: #000;
	}
}